<header>
  <br><br><br>
  <div>
  <h1 style="text-align: center; font-weight: 700; ">Rental Confirmation</h1>
    <hr>
     <br><br>
      <div class="container">
        <div>
          <div class="login-form-position">
            <div class="confirmation-wall">
              <input type="hidden" name="redirect" value="{{redirect}}">
                {{#if user}}
                  <div>Thank you for your booking {{user.first_name}}.</div>
                  <div>You have tentatively confirmed a parking spot at {{spot.address}}</div>
                  <div>Beginning on {{spot.availability}}</div>
                  <div>Please respect the owner's and the neighbour's property and privacy.</div>
                {{/if}}
              <br>
              <form class="form-confirmation" method="POST">
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_yhwrDaHZJtuijc3LZNNTfjch"
                data-amount={{spot.rental_price}}00 
                data-name="Parking Pal"
                data-description="Parking made ez"
                data-image="http://cdn.shopify.com/s/files/1/0885/3586/products/thumbnail0_large.jpg?v=1433951403"
                data-locale="auto"
                data-email={{user.email}}
                data-label="Pay with Credit Card"
                data-allow-remember-me=false
                >
              </script>
            </form>
            </div><br><br>              
          </div>
        </div>
      </div>
    <br><br>        
  </div>
</header>
