<header>
  <br><br><br><br><br><br>
    {{#if parkingSpots.length}}
      <div class="dashboard">
        <div>
          <h2>Parking Spots Listed For Rent</h2>        
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Address </th>
                <th>Availability Date</th>
                <th>Rental Length</th>
                <th>Rental Price ($/day)</th>
                <th>Rental Time (From)</th>
                <th>Rental Time (Until)</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
            {{#each parkingSpots}}
              <tr>
                <td>{{address}}</td>
                <td>{{availability}}</td>
                
                <td>{{#if is_weekly }}Weekly{{else}}Monthly{{/if}}</td>
                    
                <td>{{rental_price}}</td>
                <td>{{start_time}}</td>
                <td>{{end_time}}</td>
                <td>{{#if cancelled}}<a class="cancel" data-id="{{id}}">&#x2717</a>{{else}}<a class="cancel" data-id="{{id}}">&#x2713</a>{{/if}}</td>
              </tr>
            {{/each}}  
            </tbody>
          </table>
      </div>
    </div>
    {{else}}
    <div class="dashboard-find-spot">
        <p>You currently don't have any parking spots listed for rent!</p>
            <form method="get" action="/homeowner">
              <button name="action" value="homeowner" class="btn btn-default btn-xl wow tada">List Parking</button>
            </form>
    </div>
    {{/if}}
    <br><br>{{#if Rental.length}}
     <div class="dashboard">
          <h2>Rentals</h2>        
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Address </th>
                <th>Rental Start Date</th>
                <th>Rental Length</th>
                <th>Rental Price ($/day)</th>
                <th>Rental Time (From)</th>
                <th>Rental Time (Until)</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
            {{#each Rental}}
              <tr>
                <td>{{ParkingSpot.address}}</td>
                <td>{{ParkingSpot.availability}}</td>
                <td>{{#if ParkingSpot.is_weekly }}Weekly{{else}}Monthly{{/if}}</td>
                <td>{{ParkingSpot.rental_price}}</td>
                <td>{{ParkingSpot.start_time}}</td>
                <td>{{ParkingSpot.end_time}}</td>
                <td>{{#if is_active}}<a class="active btn btn-default btn-l wow tada" data-id="{{ParkingSpotId}}">Cancel Auto Renewal</a>{{else}}<a class="renewal-cancelled">Auto Renewal Cancelled</a><div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> You have cancelled your parking spot starting next week.
                </div>{{/if}}</td>
              </tr>
            {{/each}}  
            </tbody>
          </table>
      </div>
    </div><br><br>
     {{else}}
    <div class="dashboard-find-spot">
        <p>You currently aren't renting any parking spots!</p>
            <br><form method="get" action="/commuter">
                <button name="action" value="commuter" class="btn btn-default btn-xl wow tada">Find Parking</button>
            </form><br><br>
    </div>
    {{/if}}
<script>
  $(function(){
    $('.cancel').on('click', function(){  
      var id = $(this).data('id');
         $.post( "/api/parkingSpot/"+id+"/cancel", function( data ) {
           console.log( data );
           location.reload();
        });
    });
  });
    $(function(){
      $('.active').on('click', function(){  
        var r = confirm('Once you cancel your parking spot, it is available to all Parking Pal users');
        if (r == true){
          var id = $(this).data('id');
          $.post( "/api/rentals/"+id+"/active", function( data ) {
            console.log( data );
            location.reload();
          });
        }
      });
    });
</script>
</header>