<header>
  <br><br><br><br><br><br>

      <div class="dashboard">
        <div>
          <h2>Parking Spots Listed</h2>        
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Address </th>
                <th>Availability Date</th>
                <th>Rental Length</th>
                <th>Rental Price</th>
                <th>Rental Time (From)</th>
                <th>Rental Time (Until)</th>
              </tr>
            </thead>
            <tbody>
            {{#each parkingSpots}}
              <tr>
                <td>{{address}}</td>
                <td>{{availability}}</td>
                
                <td>{{#if ParkingSpot.is_weekly }}Weekly{{else}}Monthly{{/if}}</td>
                    
                <td>{{rental_price}}</td>
                <td>{{start_time}}</td>
                <td>{{end_time}}</td>
              </tr>
            {{/each}}  
            </tbody>
          </table>
      </div>
    </div>
 
    <br><br>
     <div class="dashboard">
          <h2>Rentals</h2>        
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Address </th>
                <th>Rental Length</th>
                <th>Rental Price</th>
                <th>Rental Time (From)</th>
                <th>Rental Time (Until)</th>
              </tr>
            </thead>
            <tbody>
            {{#each Rental}}
              <tr>
                <td>{{ParkingSpot.address}}</td>
                <td>{{#if ParkingSpot.is_weekly }}Weekly{{else}}Monthly{{/if}}</td>
                <td>{{ParkingSpot.rental_price}}</td>
                <td>{{ParkingSpot.start_time}}</td>
                <td>{{ParkingSpot.end_time}}</td>
              </tr>
            {{/each}}  
            </tbody>
          </table>
      </div>
    </div><br><br>

</header>