    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <hr>
                <h1>Trouble finding parking in Kelowna?</h1>
                <hr>
                <p>Parking Pal connects Kelowna homeowners' vacant driveways to commuters!</p>
            </div>
        </div>    
     </header>
<!--       <table>
        {{#each users}}
          <tr>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
          </tr>
        {{/each}}
      </table> -->
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"></h2><div class="home-button-1">
                      <form method="get" action="/commuter">
                      <button name="action" value="commuter" class="btn btn-default btn-xl wow tada">Find Parking</button>
                      </form></div>
                      <div class="home-button-2">
                      {{#if user}}
                      <a href="/homeowner" class="btn btn-default btn-xl wow tada">List Parking</a>
                      {{else}}
                      <a href="/login?redirect=/homeowner" class="btn btn-default btn-xl wow tada">List Parking</a>
                      {{/if}}
                  </div>
              </div>
           </div>
        </div>
    </section>